__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.DS_Store
.idea/
.vscode/
build/
dist/
*.egg-info/
env/
venv/
.git/
.dockerignore
Dockerfile
frontend/
*.jpg
*.png
*.h5
*.params
*.onnx
data/
models/
notebooks/
tests/
tmp/
# Ignore contents of temp_files and uploads
temp_files/*
uploads/*

# Allow .keep files to preserve directory structure
!temp_files/.keep
!uploads/.keep
